<div class="py-6 px-7">
  <div class="flex items-center justify-between">
    <h1 class="text-3xl font-extrabold text-[#1E293B]">Kanban Dashboard</h1>
    <div class="flex items-center gap-4">
      <app-search-input></app-search-input>
      <div
        class="bg-[#4F46E5] rounded-full text-[#FFFFFF] font-semibold text-lg flex items-center py-1.5 px-4 gap-2"
      >
        <h2>Share</h2>
        <span class="material-icons">share</span>
      </div>

      <div
        class="rounded-full border-2 border-[#CBD5E1] p-2.5 flex items-center"
      >
        <span class="material-icons text-[#475569]">save</span>
      </div>
      <div
        class="rounded-full border-2 border-[#CBD5E1] p-2.5 flex items-center"
      >
        <span class="material-icons text-[#475569]">add</span>
      </div>
    </div>
  </div>

  <div
    class="flex items-center justify-between mt-8 border-b-2 border-[#E2E8F0]"
  >
    <div class="flex items-center gap-4 border-b-2 border-[#CBD5E1]">
      <h2
        *ngFor="let item of ITENS_KANBAN"
        tabindex="0"
        (click)="switchMode(item.mode)"
        (keyup.enter)="switchMode(item.mode)"
        (keyup.space)="switchMode(item.mode)"
        class="text-lg font-bold py-2 px-4 hover:cursor-pointer"
        [ngClass]="{
          'text-[#1E293B] border-b-2 border-[#4F46E5]':
            item.mode === selectedMode,
          'text-[#475569]': item.mode !== selectedMode,
        }"
      >
        {{ item.title }}
      </h2>
    </div>
  </div>

  <div>
    <div *ngIf="viewMode === 'list'">
      <app-list-view></app-list-view>
    </div>
    <div *ngIf="viewMode === 'kanban'">
      <app-kanban-view></app-kanban-view>
    </div>
  </div>
</div>
